.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.text-center{
  text-align: center!important;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}